.f-l{
    float: left;
}
.f-r{
    float: right;
}
.list li.br0{
    border-right: 0;
}
.index-title{
    height:1.65rem;
    background: #3a9bff;
    color: #fff;
    padding: 0 0.825rem;
    position: relative;
}
.index-title div,span{
    line-height:1.55rem;
}
.index-title span.title{
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 2rem;
}
.index-title a.my{
    width:1.075rem ;
    height: 1.075rem;
    display: inline-block;
    background: url("../images/ico/my.png");
    background-size: 100% 100%;
    margin-top: 0.2rem;
}
.dw span{
font-size: 0.75rem;
}
.dw em{
   display: inline-block;
}
.title{
    font-size: 0.85rem;
}
.hide{
    display: none;
}
/* Swiper */
.swiper-container {
    width: 100%;
    height: 26%;

}
.swiper-slide {
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    background: #8989ff;
}
.swiper-slide img{
    display: block;
}
.list{
    overflow: hidden;
    margin-top: 0.5rem;
}
.list ul{
    overflow: hidden;
    background: #FFFFFF;
}
.list li{
    width: 49%;
    background: #fff;
    float: left;
    border-right: 0.1rem solid #f1f1f1;
    border-bottom: 0.375rem solid #f1f1f1;
}
.list li.b0{
    border-right: 0;
}

.bg-auto{
    width: 95%;
    margin: auto;
}
.list h1{
    color: #ff7473;
}
.list h1.lx{
    color: #dbaefb;
}
.list h1.rj{
    color: #ff7b22;
}
.list h1.cq{
    color: #a2d0ff;
}

.list span{
    font-size: 0.5rem;
    color: #9b9b9b;
}
.jp,.lxing,.rjimg,.cqimg{
    display: inline-block;
    width:3.175rem ;
    height: 2.175rem;
    background: url("../images/jp.png");
    background-size: 100% 100%;
    float: right;
    margin-top: 0.25rem;
}
.lxing{
    background: url("../images/lx.png");
    background-size: 100% 100%;
}
.rjimg{
    background: url("../images/rj.png");
    background-size: 100% 100%;
}
.cqimg{
    background: url("../images/cq.png");
    background-size: 100% 100%;
}
.jzh-list{
    background: #FFFFFF;
}
.jzh-list-title em{
    display: inline-block;
    width: 0.525rem;
    height: 0.575rem;
    background: url("../images/ico/rem.png");
    background-size: 100% 100%;
}
.jzh-list-title span{
    color: #f87f7f;
}
.jzh-list-title{
    /*border-bottom: 0.1rem solid #f1f1f1;*/
    padding: 0 0.5rem;
}
.jzh-list-ul-text{
    overflow: hidden;
}
.jzh-list-ul li{
    overflow: hidden;
    padding: 0.65rem;
    border-top: 1px solid #f1f1f1;
}
.imgDiv{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 0.3rem 0.3rem 0 0;
}
.imgDiv img{
    width: 2rem;
    height: 2rem;
}
.jzh-list-ul-text h1{
    font-size: 0.75rem;
    color: #666666;
    float: left;
    margin-right: 0.1rem;
}
.jzh-list-ul-text span{
    font-size: 0.5rem;
    color: #7a7a7a;
}
.ico,.ico1,.ico2{
    display: inline-block;
    width: 0.525rem;
    height: 0.525rem;
    background: url("../images/ico/ico1.png");
    background-size: 100% 100%;
    float: left;
    margin: 0.6rem 0.3rem 0 0;
}
.ico1{
    background: url("../images/ico/ico2.png");
    background-size: 100% 100%;
}
.ico2{
    background: url("../images/ico/ico3.png");
    background-size: 100% 100%;
}
.canvas{
    width: 2.7rem;
    height: 2.7rem;
    border:1px solid #00dad3;
    border-radius: 50%;
    text-align: center;
}
.canvas span{
    font-size: 0.5rem;
    color: #666666;
    line-height: 2.5rem;
}

.money{
    font-size: 0.6rem;
    color: #f97c7c;
    float: right;
    margin-top: 0.75rem;
}
.ovh{
    overflow: hidden;
    width: 2.8rem;
    float: right;
}
.bq em.hide{
    display: none;
}
.Long-term,.woman,.man,.sex,.overdue{
    display: inline-block;
    width: 0.753rem;
    height: 0.752rem;
    background: url("../images/ico/changqi.png");
    background-size: 100% 100%;
}
.woman{
    background: url("../images/ico/nv.png");
    background-size: 100% 100%;
}
.man{
    background: url("../images/ico/nan.png");
    background-size: 100% 100%;
}
.overdue{
    background: url("../images/ico/guo.png");
    background-size: 100% 100%;
}
.sex{
    background: url("../images/ico/xinbie.png");
    background-size: 100% 100%;
}
.bq{
    margin-top: -0.1rem;
}
#Location{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #FFFFFF;
    z-index: 100;
}
.index-title span.js-tiele{
    width: 5rem;
}
.long-term-ul li{
    border-bottom:1px solid #f1f1f1 ;
    font-size: 0.75rem;
    padding: 1rem;
    color: #666666;
}
.dw em{
    display: inline-block;
    width: 0.5rem;
    height:0.575rem ;
    background: url("../images/ico/dw.png");
    background-size: 100% 100%;
}
.Close{
    display: inline-block;
    width: 0.6rem;
    height:1.025rem ;
    background: url("../images/ico/top-back.png");
    background-size: 100% 100%;
    margin-top: 0.3rem;
}
.footer{
    overflow: hidden;
    background: rgba(0, 0, 0, 0.74);
    color: #FFFFFF;
    padding: 0.5rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.footer img{
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
}
.footer-text{
    font-size: 0.70rem;
}
.footer em{
    float: right;
    margin-right: 1rem;
    width: 0.66rem;
    height:0.65rem ;
    background: url("../images/ico/rem1.png");
    background-size: 100% 100%;

}
/*极速报名**/
.login-sign{
    font-size: 0.6rem;
    color: #fff;
    line-height: 1.55rem;
}
.index-title span.title-login{
    width: 4rem;
    text-align: center;
}
.dw-sigh em{
    display: inline-block;
    width: 0.6rem;
    height: 1.025rem;
    background: url("../images/ico/top-back.png");
    background-size: 100% 100%;
    margin-top: 0.3rem;
}
.Remarks{
    display: block;
    font-size: 0.6rem;
    color: #999;
    height: 1.452rem;
    line-height: 1.452rem;
    border-bottom: 1px solid #f1f1f1;
    background: #e9e9e9;
    text-align: center;
}
.form-ul li span{
    font-size: 0.7rem;
    color: #666;
    margin-right: 0.5rem;
}
.form-ul li{
    background: #fff;
    padding: 0.5rem;
    border-bottom: 1px solid #f1f1f1;
    position: relative;
}
.form-ul li input{
    border: 0;
    font-size: 0.65rem;
    color: #999;
}
.mt8{
    margin-top: 0.5rem;
}
.div-conform {
    text-align: center;
    padding: 15px 0;
}
.div-conform .conform {
    width: 90%;
    height: 1.7rem;
    border: 0;
    background: #3a9bff;
    border-radius: 2rem;
    font-size: 0.7rem;
    color: #fff;
}
.yz{
    font-size: 0.625rem;
    margin: 0;
    display: inline-block;
    padding-left: 0.5rem;
    color: #666666;
    background: #fff;
    border: 0;
    border-left: 1px solid #999999;
}
.noyanz{
    font-size: 0.6rem;
    color: #666666;
    float: right;
    margin-right: 0.5rem;
}
.Explain{
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.89);
    position: absolute;
    top: 0;
    left: 0;

}
.Explain h1{
    text-align: center;
    font-size: 1rem;
    padding: 1.7rem;
}
.Explain h3{
    font-size: 0.8rem;
    margin: 0 0.5rem;
}
.Explain p{
    font-size: 0.7rem;
    margin: 1rem 0.7rem;
}
.tel p{
    margin:0.2rem 0.7rem 0rem;
    color: #999;
}
.Explain p.close{
    display: inline-block;
    width: 100%;
    height: 3rem;
    position: absolute;
    bottom: 0;
    margin: 0;
    background: #3a9bff;
    text-align: center;
}
.Explain p.close em{
    display: inline-block;
    width: 0.625rem;
    height: 0.625rem;
    background: url("../images/ico/rem1.png");
    background-size: 100% 100%;
    margin-top: 1.2rem;
}
.w5{
    width: 5rem;
}
.ra{
    width: 0.5rem;
    height: 0.5rem;
}
.form-ul li span.f65{
    font-size: 0.65rem;
}
.err{
    font-size: 0.6rem;
    color: red;
    position: absolute;
    left: 0.5rem;
    bottom: 0;

}
.Remarks em{
    display: inline-block;
    width: 0.275rem;
    height: 0.475rem;
    background: url("../images/ico/huianniu.png");
    background-size: 100% 100%;

}
.remarks-body{
    height: 9.7rem;
    background: #3a9dff;
    position: relative;

}
.remarks-tx{
    text-align: center;
    padding-top: 1.6rem;
}
.remarks-tx img{
    width: 3.1rem;
    height: 3.1rem;
}
.remarks-tx p{
    font-size: 0.65rem;
    color: #FFFFFF;
}
.img-div{
    width: 3.1rem;
    height: 3.1rem;
    border-radius: 50%;
    margin: 0 auto 0.375rem auto;
}
.remarks-money{
    position: absolute;
    bottom: 1.125rem;
    left: 1.1rem;
}
.remarks-money span{
    font-size: 0.75rem;
    color: #FFFFFF;
}
.remarks-money span.moneynum{
    font-size: 1.5rem;
}
.tc{
    width: 8.225rem;
    height: 1.6rem;
    line-height: 1.6rem;
    margin: 5rem auto ;
    background: #3a9dff;
    text-align: center;

    left: 0;
    right: 0;
    border-radius: 5px;
    z-index: 100;
}
.tc a{
    color: #fff;
}
.bg2688e9{
    background: #2688e9!important;
}
.body{
    width: 100%;
    height: 5.4rem;
    background: url("../images/body.png") bottom  ;
    background-size: 100% 100%;
    position: absolute;
    bottom: 0;
    z-index: 1;
}
.per-cen-main{

}
body{
    height: 100%;
    position: relative;
}
.xianshi{
    width: 100%;
    height: 2rem;
    border: 1px solid #f1f1f1;
    text-align: center;
    line-height: 2rem;
    font-size: 0.85rem;
    color: #7a7a7a;
}